/* **************************************** *
 * HEADER
 * **************************************** */
#wrap {min-width: 1120px;}
#header {border-bottom: 1px solid #ccc;}
#header .inner {}
/* top-menu */
#header .top-menu {border-bottom: 1px solid #ebebeb;}
#header .top-menu .inner {position: relative; width: 1100px; margin: 0 auto; height: 60px; display: flex; align-items: center; justify-content: flex-end;}
#header .top-menu .inner .logo {}
#header .top-menu .inner .logo a {display: block; width: 239px; height: 25px; background-image: url('../img/logo.png'); position: absolute; transform: translate(-50%, -50%); top: 50%; left: 50%; background-repeat: no-repeat;}
#header .top-menu .inner .util {display: flex; gap: 13px;}
#header .top-menu .inner .util li {}
#header .top-menu .inner .util li a {}
#header .top-menu .inner .util li a.remote {font-size: 14px;}
#header .top-menu .inner .util li a.lang {position: relative; padding: 0 24px 0 0; }
#header .top-menu .inner .util li a.lang:after {content: ''; display: block; width: 16px; height: 16px; background-image: url('../img/ico-lang.svg'); position: absolute; right: 0; top: 6px;}
/* nav */
#nav {width: 1100px; margin: 0 auto; position: relative;}
#nav .btn-menu {width: 30px; height: 30px; background-image: url('../img/ico-menu.svg'); position: absolute; left: 0; top: 50%; transform: translateY(-50%);}
#nav .gnb {height: 80px; display: flex; gap: 50px; font-size: 20px; font-weight: 600; justify-content: center; align-items: center;}
#nav .gnb li {}
#nav .gnb li a {padding: 10px;}
#nav .btn-search {position: absolute; width: 30px; height: 30px; background-image: url('../img/ico-search.svg'); right: 0; top: 50%; transform: translateY(-50%);}
#nav .btn-search {}

/* **************************************** *
 * TOP BAR
 * **************************************** */
/* breadcrumb */
.top-bar {background-color: #2764ba; width: 100%; overflow: hidden;}
.top-bar .inner {width: 1100px; display: flex; justify-content: space-between; margin: 0 auto; height: 50px;}
.top-bar .inner .breadcrumb {display: flex; height: 100%;}
.top-bar .inner .breadcrumb .btn-home {border-left: 1px solid #5d8acb; border-right: 1px solid #5d8acb; height: 100%;}
.top-bar .inner .breadcrumb .btn-home a {width: 48px; display: block; position: relative;}
.top-bar .inner .breadcrumb .btn-home a:before {content: ''; display: block; width: 20px; height: 20px; background-image: url('../img/ico-home.svg'); background-repeat: no-repeat; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%)}
.top-bar .inner .breadcrumb .breadcrumb-list {display: flex;}
.top-bar .inner .breadcrumb .breadcrumb-list li {width: 188px; display: flex; align-items: center; justify-content: space-between; padding: 0 20px; border-right: 1px solid #5d8acb;}
.top-bar .inner .breadcrumb .breadcrumb-list li > a {display: block; height: 50px; line-height: 50px; color: #fff;}
.top-bar .inner .breadcrumb .breadcrumb-list li span.ico-expand {width: 13px; height: 6px; position: relative; display: block;}
.top-bar .inner .breadcrumb .breadcrumb-list li span.ico-expand:before {content: ''; display: block; width: 8px; height: 2px; background-color: #fff;transform: rotate(45deg); position: absolute; left: 0; top: 0;}
.top-bar .inner .breadcrumb .breadcrumb-list li span.ico-expand:after {content: ''; display: block; width: 8px; height: 2px; background-color: #fff; transform: rotate(-45deg); right: 0; position: absolute; top: 0; }
/* link */
.top-bar .inner .link {display: flex; box-shadow: 0px 0px 12px 14px rgba(0, 0, 0, 0.1);}
.top-bar .inner .link li a {display: block; width: 110px; color: #fff; line-height: 50px; height: 100%; text-align: center; background-color: #008ace; position: relative;}
.top-bar .inner .link li:last-child a:before {content: ''; display: block; width: 1px; height: 16px; background-color: rgba(255, 255, 255,0.3); position: absolute; left: 0; top: 50%; transform: translateY(-50%); }

/* **************************************** *
 * ASIDE
 * **************************************** */
#aside {position: absolute; right: 0; top: 0; width: 220px;}
#aside h3 {font-size: 20px; font-weight: 700; margin-bottom: 5px; letter-spacing: -1.5px;}
#aside .aside-content {margin-bottom: 44px;}
#aside .aside-content li {padding: 0 12px; position: relative;}
#aside .aside-content li:before {content: ''; display: block; width: 3px; height: 3px; background-color: #888; position: absolute; left: 0; top: 16px; border-radius: 2px;}
#aside .aside-content li a {display: block; color: #666; line-height: 32px;}
#aside .aside-service {display: flex; gap: 8px; flex-wrap: wrap; margin-bottom: 44px;}
#aside .aside-service li {}
#aside .aside-service li a {font-size: 16px; color: #2763ba;}
#aside .phone {border: 1px solid #ccc; padding: 12px 12px 12px 72px; position: relative;}
#aside .phone:before {content: ''; display: block; width: 40px; height: 40px; background-image: url('../img/ico-stethoscope.svg'); position: absolute; left: 12px; top: 50%; transform: translateY(-50%);}
#aside .phone div {color: #2763ba; font-size: 20px; font-weight: 700;}
#aside .btn-top {margin-top: 32px; display: block;}


/* **************************************** *
 * FOOTER
 * **************************************** */
#footer {}
/* top-footer */
#footer .top-footer {background-color: #22263b;}
#footer .top-footer .inner {height: 60px; width: 1100px; margin: 0 auto; display: flex; justify-content: space-between; align-items: center;}
#footer .top-footer .inner .top-footer-list {display: flex; align-items: center;}
#footer .top-footer .inner .top-footer-list li {}
#footer .top-footer .inner .top-footer-list li a {display: block; color: #fff; position: relative; margin: 0 12px;}
#footer .top-footer .inner .top-footer-list li:not(:first-child) a:after {content: ''; display: block; width: 1px; height: 12px; background-color: #fff; position: absolute; top: 50%; transform: translateY(-50%); left: -12px; opacity: 0.15}
#footer .top-footer .inner .top-footer-side {display: flex; gap: 14px;}
#footer .top-footer .inner .top-footer-side li {}
#footer .top-footer .inner .top-footer-side li a {font-size: 14px; color: #999; padding: 0 12px 0 0; position: relative;}
#footer .top-footer .inner .top-footer-side li a:after {content: ''; display: block; position: absolute; border: 3px solid #999; border-right-color: transparent; border-bottom-color: transparent; transform: rotate(45deg); right: 0; top: 10px;}

/* info-footer */
#footer .info-footer {background-color: #31354e;}
#footer .info-footer .inner {width: 1100px; margin: 0 auto; height: 60px;}
#footer .info-footer .inner ul {display: flex; gap: 8px; align-items: center; height: 100%;}
#footer .info-footer .inner ul li {}
#footer .info-footer .inner ul li a {color: #ccc; display: block; padding: 0 10px;}
#footer .info-footer .inner ul li a.color {color: #a4e1ff}

/* address-footer */
#footer .address-footer {background-color: #31354e; border-top: 1px solid #22263b; padding: 24px 0 64px; }
#footer .address-footer .inner {width: 1100px; margin: 0 auto; position: relative;}
#footer .address-footer .address {display: flex; gap: 16px;}
#footer .address-footer .address li, #footer .address-footer .address li a {font-size: 14px; font-weight: 600; color: #999;}
#footer .address-footer .copyright {margin-top: 4px; color: #999; font-size: 14px; letter-spacing: 0;}

#footer .address-footer .cert {display: flex; gap: 32px; position: absolute; top: 0; right: 0;}
#footer .address-footer .cert a {display: block;}
